/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* -------- Styling ------- */
#menu-toggle {
  display: none;
}

/* menu icon styling */
.menu-icon {
  position: absolute;
  top: 2.5rem;
  left: 20px;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.menu-icon i.fa-xmark {
  display: none;
}
/* show / hide icon based on checkbox  */
#menu-toggle:checked + header .menu-icon i.fa-bars {
  display: none;
}
#menu-toggle:checked + header .menu-icon i.fa-xmark {
  display: inline;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}
.navbar .logo {
  font-weight: bold;
  color: #fff;
}
.navbar .nav-links {
  display: flex;
  gap: 30px;
  /* visibility: hidden; */
  /* display: none; */
}
.navbar .nav-links a {
  color: #fff;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
.navbar .nav-links a:hover {
  color: #ff6565;
}

/* Hero Section */
.hero {
  background-image: url("./background.png") no-repeat center/cover;
  text-align: center;
  padding: 180px 20px 100px;
  position: absolute;
}
.hero {
  position: relative;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}
.hero p {
  font-size: 0.95rem;
  color: #fff;
}
.hero .btn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 30px;
  background-color: #ff5e66;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.hero .btn:hover {
  background-color: #e04e56;
  opacity: 0.9;
}
.hero .hero-text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #fff;
}

/* What We Do */
.what-we-do {
  background: #fff;
  text-align: center;
  padding: 80px 20px;
}
.what-we-do h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.what-we-do p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 0.9rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 30px;
  padding: 0 10%;
}
.service .icon {
  font-size: 2rem;
  color: #ff5e66;
  margin-bottom: 10px;
}
.service h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.service p {
  font-size: 0.85rem;
  color: #666;
}

/* Results Section */
.results {
  position: relative;
  background-image: url("./background_2.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
.results h2 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 70px;
  color: #fff;
  text-align: center;
}
.results p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.stat {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.stat span {
  display: block;
  transform: rotate(-45deg);
  width: 10px;
  height: 2rem;
  font-size: 0.8rem;
  margin-top: 10px;
}

/* Contact Section */
.contact {
  background: #fff;
  text-align: center;
  padding: 100px 20px;
}
.contact h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}
input,
textarea {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  background: #ff5e66;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  background: #e04e56;
}

/* Footer */
footer {
  background-color: #0b1320;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.footer-content .logo {
  font-weight: bold;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a {
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #ff5e66;
}

/* Responsive CSS*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
  .stats {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
  .menu-icon {
    top: 0;
    margin-top: 1.4rem;
  }
  .nav-links.show {
    display: flex;
  }
  .navbar .nav-links a {
    color: #fff;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  .navbar .nav-links a:hover {
    color: #ff6565;
  }
}
@media (max-width: 481px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    visibility: hidden;
    /* display: none; */
  }
  /* show / hide icon based on checkbox  */
  #menu-toggle:checked + header .menu-icon i.fa-bars {
    display: none;
  }
  #menu-toggle:checked + header .menu-icon i.fa-xmark {
    display: inline;
  }
  #menu-toggle:checked + header .nav-links i.fa-xmark {
    display: flex;
  }
}
@media (min-width: 482px) {
  .menu-icon {
    /* display: flex; */
    visibility: hidden;
  }
}

/* Holberton Icons */
.holberton_school-icon-ic_sound:before {
  content: "\e90e";
}
.holberton_school-icon-ic_video:before {
  content: "\e910";
}
.holberton_school-icon-ic_music:before {
  content: "\e90d";
}
.holberton_school-icon-ic_hearing:before {
  content: "\e909";
}
