/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* -------- Styling ------- */
#menu-toggle {
  display: none;
}

/* menu icon styling */
.menu-icon {
  position: absolute;
  top: 2.5rem;
  left: 20px;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
.menu-icon i.fa-xmark {
  display: none;
}
/* show / hide icon based on checkbox  */
#menu-toggle:checked + header .menu-icon i.fa-bars {
  display: none;
}
#menu-toggle:checked + header .menu-icon i.fa-xmark {
  display: inline;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}
.navbar .logo {
  font-weight: bold;
  color: #fff;
}
.navbar .nav-links {
  display: flex;
  gap: 30px;
  /* visibility: hidden; */
  /* display: none; */
}
.navbar .nav-links a {
  color: #fff;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
.navbar .nav-links a:hover {
  color: #ff6565;
}

/* Hero Section */
.hero {
  background-image: url("./background.png") no-repeat center/cover;
  text-align: center;
  padding: 180px 20px 100px;
  position: absolute;
}
.hero {
  position: relative;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}
.hero p {
  font-size: 0.95rem;
  color: #fff;
}
.hero .btn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 30px;
  background-color: #ff5e66;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.hero .btn:hover {
  background-color: #e04e56;
  opacity: 0.9;
}
.hero .hero-text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #fff;
}

/* What We Do */
.what-we-do {
  background: #fff;
  text-align: center;
  padding: 80px 20px;
}
.what-we-do h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.what-we-do p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 0.9rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 30px;
  padding: 0 10%;
}
.service .icon {
  font-size: 2rem;
  color: #ff5e66;
  margin-bottom: 10px;
}
.service h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.service p {
  font-size: 0.85rem;
  color: #666;
}

/* Results Section */
.results {
  position: relative;
  background-image: url("./background_2.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}
.results h2 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 70px;
  color: #fff;
  text-align: center;
}
.results p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.stat {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.stat span {
  display: block;
  transform: rotate(-45deg);
  width: 10px;
  height: 2rem;
  font-size: 0.8rem;
  margin-top: 10px;
}

/* Contact Section */
.contact {
  background: #fff;
  text-align: center;
  padding: 100px 20px;
}
.contact h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}
input,
textarea {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  background: #ff5e66;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  background: #e04e56;
}

/* Responsive CSS*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
  .stats {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
  .menu-icon {
    top: 0;
    margin-top: 1.4rem;
  }
  .nav-links.show {
    display: flex;
  }
  .navbar .nav-links a {
    color: #fff;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  .navbar .nav-links a:hover {
    color: #ff6565;
  }
}
@media (max-width: 481px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    visibility: hidden;
    /* display: none; */
  }
  /* show / hide icon based on checkbox  */
  #menu-toggle:checked + header .menu-icon i.fa-bars {
    display: none;
  }
  #menu-toggle:checked + header .menu-icon i.fa-xmark {
    display: inline;
  }
  #menu-toggle:checked + header .nav-links i.fa-xmark {
    display: flex;
  }
}
@media (min-width: 482px) {
  .menu-icon {
    /* display: flex; */
    visibility: hidden;
  }
}
/* --------- Results ---------- */
/* Mobile Screen */
.our-result-container {
  background-image: url(./background_2.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  max-width: 250px;
  margin: 0 auto;
}
.result-heading,
.result-texts {
  color: #fff;
  text-align: center;
}
.result-heading {
  padding-top: 3rem;
}
.result-texts {
  padding-top: 1rem;
  max-width: 40vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.rating-size {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  margin: 0 auto;
  height: 130px;
  width: 150px;
  color: red;
}
/* Tablet Layout */
@media (min-width: 480px) {
  .our-result-container {
    background-image: url(./background_2.png);
    background-position: center;
    background-size: cover;
    height: 90;
    max-width: 1000px;
    margin: 0 auto;
  }

  .result-heading,
  .result-texts {
    color: #fff;
    text-align: center;
  }
  .result-heading {
    padding-top: 3rem;
  }
  .result-texts {
    padding-top: 1rem;
    max-width: 70vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
    /* height: 130px;
      width: 150px;
      color: red; */
  }
}

/* Desktop Layout */
@media (min-width: 768px) {
  .our-result-container {
    background-image: url(./background_2.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
  }

  .result-heading,
  .result-texts {
    color: #fff;
    text-align: center;
  }
  .result-heading {
    padding-top: 3rem;
  }
  .result-texts {
    padding-top: 1rem;
    max-width: 70vw;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .rating-size {
    height: 130px;
    width: 150px;
    color: red;
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
  }
}
/* End of Desktop screen */

/* ------- COntact ------- */
.contact h2 {
  place-items: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 250px;
  margin: auto;
}
.contact-btn {
  max-width: 140px;
  margin: auto;
  padding: 0.75rem;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: #ff6e6e;
}
.contact-btn:hover {
  background: #ff6565;
  opacity: 0.9;
  font-weight: bold;
}
form label {
  font-weight: lighter;
  margin-bottom: 0rem;
  padding: 0%;
  text-align: left;
  line-height: 0.1;
}
.underline {
  display: inline-block;
  display: flex;
  display: grid;
  line-height: 0.1;

  gap: 0;
  padding: 0%;
  color: black;
  width: 150px;
}

/* Footer */
/* Mobile Layout */
footer {
  margin: auto;
  background-color: #0b1320;
  color: #fff;
  max-width: 1000px;
  padding: 40px 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0rem;
}
.footer-links a {
  font-size: 1.6rem;
  color: #fff;
}
.footer-links a:hover {
  color: #ff5e66;
}
.copiryt {
  color: #6b6a6a;
}
/* End of Footer Mobile Layout */

/* Desktop Layout */

@media (min-width: 480px) {
  .logoNlinks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 0rem 1.5rem;
  }
  .footer-logo-container {
    display: flex;
    margin-left: 0;
  }
  footer {
    padding: 0 40px;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-right: 2rem;
    /* gap: 1.5rem; */
    /* margin-top: 2rem; */
  }
  .footer-logo {
    margin-left: 2rem;
    padding-left: 0rem;
  }
}
.footer-links a {
  font-size: 1.6rem;
  color: #fff;
}
.footer-links a:hover {
  color: #ff5e66;
}
.copiryt {
  color: #6b6a6a;
}
