/* Layout */
body,
main {
  display: flex;
}
body {
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
}
aside {
  flex: 1;
}
article,
aside {
  overflow-y: auto;
}
/* Additional features */
body {
  background-color: #f0f0f0;
}
p {
  color: darkslategray;
  font-size: 1.2em;
  font-style: italic;
}
.first-heading {
  color: blue;
  text-align: center;
}
.second-heading {
  color: green;
  text-align: center;
}
.third-heading {
  color: red;
  text-align: center;
}
